
{% extends 'base.html' %}
{% block title %}
    <title>Students</title>
{% endblock title %}

{% block header %}
    <header>
        {{ name }}
    </header>
{% endblock header %}

{% block search %}
    <div class="search-container">
        <form action="{% url 'search-task' %}" method="get">
            <input type="text" placeholder="Search..." name="q">
            <button type="submit">Search</button>
        </form>
    </div>
{% endblock search %}
{% block article %}
    <article>
        <table>
            <tr>
                <th>ID</th>
                <th>easy_task_name</th>
                <th>easy_task</th>
                <th>time</th>
                <th colspan="2">Action</th>
            </tr>
            {% for easy in easy %}
                <tr>
                    <td>{{ easy.id }}</td>
                    <td>{{ easy.easy_task_name }}</td>
                    <td>{{ easy.easy_task }}</td>
                    <td>{{ easy.easy_time }}</td>
                    <td><a href="{% url 'easy_edit-task' easy.id %}">Edit</a></td>
                    <td>
                        <a
                                onclick="return confirm('Do you really to delete this student!')"
                                href="{% url 'easy_delete-task' easy.id %}">Delete
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <form method="get" action="{% url 'easy_create_task' %}">
            <input type="submit" value="ADD"
                   style="background-color: skyblue; border-radius: 10px; font-size: 40px; display: block; margin: 0 auto; width: 100px;">
        </form>
    </article>
{% endblock article %}




