{% extends 'base.html' %}
{% block title %}
    <title>hard</title>
{% endblock title %}

{% block header %}
    <header>
        {{ name }}
    </header>
{% endblock header %}

{% block search %}
    <div class="search-container">
        <form action="{% url 'search-task' %}" method="get">
            <input type="text" placeholder="Search..." name="q">
            <button type="submit">Search</button>
        </form>
    </div>
{% endblock search %}

{% block article %}
    <article>
        <table>
            <tr>
                <th>ID</th>
                <th>Task Name</th>
                <th>Task Description</th>
                <th>Time</th>
                <th colspan="2">Action</th>
            </tr>
            {% for hard in hard %}
                <tr>
                    <td>{{ hard.id }}</td>
                    <td>{{ hard.hard_task_name }}</td>  <!-- Поля модели -->
                    <td>{{ hard.hard_task }}</td>
                    <td>{{ hard.hard_time }}</td>
                    <td><a href="{% url 'hard_edit-task' hard.id %}">Edit</a></td>
                    <td>
                        <a
                            onclick="return confirm('Do you really want to delete this task?')"
                            href="{% url 'hard_delete-task' hard.id %}">Delete
                        </a>
                    </td>
                </tr>
                <!-- Отображение статуса задачи и возможность изменения статуса -->
                <tr>
                    <td colspan="6">
                        <p>Status: {{ hard.is_completed|yesno:"Completed,Not Completed" }}</p>
                        <form action="{% url 'toggle-task' hard.pk %}" method="post">
                            {% csrf_token %}
                            <button type="submit">
                                {{ hard.is_completed|yesno:"Mark as Not Completed,Mark as Completed" }}
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <!-- Кнопка для добавления новой задачи -->
        <form method="get" action="{% url 'hard_create_task' %}">
            <input type="submit" value="ADD"
                   style="background-color: skyblue; border-radius: 10px; font-size: 40px; display: block; margin: 0 auto; width: 100px;">
        </form>
    </article>
{% endblock article %}
